
/* <----Style----> */

#Style > h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  
  #Style > h1 + #card5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    width: 85%;
    margin: auto;
    gap: 20px;
    font-size: 20px;
  }
  #Style > h1 + #card5 > div {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  
  #Style > h1 + #card5 > div > img {
    width: 100%;
  }
  #card5 > div > h2,
  p {
    padding-left: 10px;
    text-align: center;
  }
  
  #card5 > div > h2 + p {
    margin-top: -15px;
    font-size: 18px;
    word-wrap: normal;
  }
  
  
  #search {
    width: 85%;
    margin: auto;
  }
  #search > h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  #search > h1 + #search1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #search1 p {
  
    margin: 1.5%;
    padding: 4% 2%;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #f5f6f7;
    color: rgb(83, 82, 82);
  }
  #footerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3%;
    background-color: #f5f6f7;
    margin-top: 30px;
  }
  #footerLink > div > img {
    width: 50%;
  }
  #footerLink div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  #footerLink div:nth-child(2) span:first-child {
    margin: 4%;
    font-size: large;
  }
  #footerLink div:nth-child(3) {
    display: flex;
    gap: 5px;
    margin-left: 5%;
    align-items: center;
  }
  
  #footerLink input {
    background-color: white;
    padding: 10px;
  }
  #footerLink button {
    background-color: #1b61a7;
    color: white;
    padding: 17px;
    border: none;
    border-radius: 5px;
    width: 70%;
    text-align: center;
    height: 100%;
  }
  @media screen and (width<1200px) {
    #midPart1 h2 {
      font-size: 1.5rem;
    }
  }
  @media screen and (width<900px) {
    #midPart1 > h1 + div {
      grid-template-columns: repeat(3, 1fr);
    }
    #midPart2 > h1 + div {
      grid-template-columns: repeat(4, 1fr);
    }
    #midPart4 > h1 + #card3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (width<750px) {
    #Style > h1 + #card5 {
      grid-template-columns: repeat(1, 1fr);
    }
    #search > h1 + #search1 {
      grid-template-columns: repeat(2, 1fr);
    }
    #midPart1 > h1 {
      font-size: 30px;
    }
    #midPart1 h2 {
      font-size: 1.2rem;
    }
  
    #midPart1 h2 + p {
      font-size: 1rem;
    }
    #midPart2 > h1 {
      font-size: 30px;
    }
  
    #fBrands > h1 + #card4 {
      grid-template-columns: repeat(2, 1fr);
    }
    #midPart2 > h1 + div {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  
  
  *{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  #footer-up{
    display: flex;
    background-color: #545658;
    justify-content: space-between;
    padding: 4% 7%;
  }
  #legal{
    display: flex;
    justify-content: space-between;
    background-color: #2f3337;
    align-items: center;
    padding: 2% 7%;
  }
  footer{
    color: white;
    font-size: 12px;
  }
  footer a{
    text-decoration: none;
    color: white;
  
  }
  #footer-up>div{
    display: flex;
    flex-direction: column;
  }
  #footer-up a, #footer-up>div>div{
    
    margin: 6% 0;
    width: fit-content;
  }
  #footer-up>div>div{
    font-weight: 700;
  }
  #legal-right>a{
    margin-left: 20px;
  }
  #legal-left>p{
    margin: 0;
  }

  /* <----Style----> */