header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}







#navbarstart img {
  width: 200px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#navbarstart {
  margin-top: auto;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
}


input {
  width: 100%;
  height: 28px;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}

#navbarstart > div:nth-of-type(1) {
  display: flex;
  border: none;
  border-radius: 4px;
  width: 70%;
  height: 20px;
}
#navbarstart div {
  display: block;
}

#navbarSearchBtn {
  width: 40px;
  height: 32px;
  background-color: #1a4e8a;
  border: none;
  margin-left: 0px;
  border-top-right-radius: 4px;
  border-end-end-radius: 4px;
}


p {
  margin-top: 0px;
  font-size: 14px;
}
#navbarstart > #menu{
  display: none;
}
#navbarstart > div + div{
  height: 20px;
  font-size: 14px;
  margin-right: 1%;
}

.iconsvg {
  border: 1px solid;
  margin-top: 17px;

  margin-left: 5px;
}

#navbaritems > ul {
  display: flex;
  justify-content: space-around;
}

#navbaritems {
  border-bottom: 1px solid #dadcdf;
  border-top: 1px solid #dadcdf;
  height: 45px;
  align-items: center;
}

#navbaritems a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  /* position: absolute; */
}

li a:hover {
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  justify-content: space-between;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: black;
}

li:hover,
#navbarstart #menu,
#navbarstart #navbarSearchBtn,
#navbarstart .icons {
  cursor: pointer;
}

ul li ul {
  background-color: #f9fafb;
  visibility: hidden;
  opacity: 1;
  min-width: 15rem;
  position: absolute;
  transition: all 60s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

#navbarstart #menu ul {
  background-color: #f9fafb;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 60s ease;
  /* margin-top: 0.2rem; */
  right: 0;
  display: none;
}
#navbarstart #menu:hover > ul,
#navbarstart #menu ul:hover{
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #2f3337; */
}
#navbarstart #menu ul li:hover {
  cursor: pointer;
}




































/* Style for the outer container */
body{
    margin: 0;
    padding: 0;
}

.detailsdiv {
    width: fit-content;
    height: fit-content;
   
}

@media only screen and (max-width: 700px) {
    
    .detailsdiv {
        width: 100%;
        height: fit-content;
       
    }

.detailsdiv>div{
    
   display: flex;
   flex-direction: column;
   
}
.img-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  }

.detailsdiv>div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* margin: 10px; */
   
   width: 100%;
}

/* Style for the image container */
.img-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-left :1%;
}

/* Style for the primary image */
.firstimg {
   /* width: 100%; */
    height: fit-content;
    border: 1px solid #ccc;
}
.firstimg  img {
    width: 100%;
    
   
}





.secimg {
    display: flex;
     width: 100%;
     /* height: fit-content; */
     margin-bottom: 10px;
     justify-content: space-between;
 }

/* Style for the small images */
.secimg .imgDiv {
    border: 1px solid #ccc;
    margin: 5px 5px;
    padding: 5px;
    cursor: pointer;
   /* background-color: #007bff; */
}

.imgDiv img {
    width: 100%;
   height: 100%;
}
/* Style for the other data container */
.otherdata {
    width: 50%;
    padding: 10px;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px; /* Add margin to create space between image container and other data */
}
.otherdata >p{
    font-size: 1.5rem;
    color: rgb(47,51,55);
    font-weight: 600;
}

/* Style for the button */

.allsize{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;

}
.allsize >button{
    height: fit-content;
    font-size: 20px;
    border: hidden;
    
}


.shopping{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wishlist {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    }

.wishlist >img{
width: 20px;
}
 .addtocart {
    padding: 1px 20px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size: large;
    border-radius: 5px;
}

.addtocart:hover {
    background-color: rgba(14, 14, 139, 0.801);
   
}

/* Style for text elements */
h3, p {
    margin: 5px 0;
}


/* .size-buttons{
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    padding: 0.3rem;
} */
.size-button{
    margin: 4px;
    padding: 0.3rem 0.7rem;
    border-radius: 2rem;
    border: hidden;
    font-size: 1rem;
    background-color:rgb(47,51,55);
    color: white;
}

.quantity-div{
    display: block;
  justify-content: first baseline;
  align-items: center;
    margin: 1.6rem 0px;
    margin-right: -4.2rem;
    margin-left: -0.5rem;
    width: 100%;
}

.quantity-div label{
    margin-left: 0.8rem;
    
}
.quantity-select{
    padding: 10px;
    width: 100%;
    margin-left:7px ;
    
}

.color-img {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    
    }
.color-img img{
width: 8rem;
height: 8.1rem;
}

.branddiv{
    display: flex;
    justify-content: first start;
    align-items: center;
    
    margin-top: -21px;
}
.branddiv >h4{
  
    color: rebeccapurple;
}
.branddiv >a{
    color: rebeccapurple;
    font-size: 16px;
    margin-left: 0.2rem;
    text-decoration: none;
}
.branddiv >a:hover{
    color: rebeccapurple;
    font-size: 16px;
    margin-left: 0.2rem;
    text-decoration: underline;
}
h3{
    color: rgb(206,61,55);
}

.disbtn{
    height: 2.5rem;
    margin-top: 2rem;
}
.disbtn button{
    height:100%;
    width: 100%;
    color: darkblue;
    font-size: 15px;
    border: 4px dashed rgb(218,220,223);
    background-color: rgb(249,250,251);
}
.disbtn button:hover{
    height:100%;
    width: 100%;
    color: darkblue;
    font-size: 15px;
    border: 4px dashed gray;
    text-decoration: underline;
    background-color: rgb(249,250,251);
    cursor: pointer;
}
.footerproduct{
   margin-bottom: 2rem;
     display: flex; flex-direction: row;
    gap: 0.7rem;
    padding-left: 1.5rem;
    height: fit-content;
}

.matchproduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    
    }
.matchproduct >img{
border: 1px solid rgb(68, 93, 192);
width: 90%;
}

a {
    text-decoration: none;
    color: black;
  }
  #ship {
    border-bottom: 1px solid #dadcdf;
    margin: 1px;
  }
  
  #ship {
    /* margin: 0px; */
    display: flex;
    gap: 7px;
    padding: 5px;
    background-color: #f9fafb;
    align-items: top;
    height: 30px;
  }
  
  #ship img {
    width: 28px;
    height: 22px;
    border-radius: 10px;
    margin-top: 3px;
  }
  #ship p:nth-of-type(1) {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 10px;
    color: #bfc1c5;
  }
  #ship p {
    margin-top: 4px;
  }
  
  
  li a:hover {
    border-bottom: 1px solid black;
  }
  
  a {
    text-decoration: none;
    justify-content: space-between;
  }
  
  nav {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    /* display: block; */
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  
  li a {
    color: black;
  }
  
  li:hover {
    cursor: pointer;
  }
  
  ul li ul {
    background-color: #f9fafb;
    visibility: hidden;
    opacity: 1;
    min-width: 15rem;
    position: absolute;
    transition: all 60s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }
  
  .dropdown li {
    padding: 10px;
  }
  #divCheckout {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8%;
    height: 35px;
    color: white;
    background-color: black;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
  }
  .fa {
    color: white;
    font-size: 20px;
  }
  #divCheckout img {
    width: 23px;
  }
  #cartCount {
    width: 12px;
    margin-top: 12px;
    padding-left: 12px;
    text-align: center;
    /* border: 1px solid; */
    position: absolute;
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #c7202c;
  }
  .UserDropDowns_icon_08 {
    margin-left: 20px;
  }
  
  @media screen and (max-width: 970px) {
    #navbaritems {
      display: none;
    }
    #navbarstart > a {
      width: 100%;
    }
  }

  #footer{
    margin: 0px;
    color: white;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* margin: 5px; */
    /* border: 1px solid white; */
    }
    #footer {
        /* border: 1px solid white; */
        display:flex;
        gap:10px;
        justify-content: space-evenly;
        padding-bottom: 100px;
        background-color: #444;
        padding-top: 50px;
        /* flex-direction: column; */
    }
    #footer div{
        display: flex;
        flex-direction: column;
    }
    #footer div > a{
        /* padding: 14px; */
        margin-top: 20px;
        text-decoration: none;
        color: white;
    }
    #lastDivFooter > img{
        width: 30px;
    }
    #lastDivFooter > a{
        color: white;
        text-decoration: none;
    }
    #lastDivFooter{
        /* margin: 10px; */
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 50px;
        background-color: #333333;
    }
    
    #lastDivFooter > div:nth-child(1){
        width: 30%;
        display: flex;
        /* align-items: end; */
        /* justify-content: center; */
    
    }   
    #lastDivFooter > div:nth-child(2){
        gap: 40px;
        display: flex;
        color: white;
        font-weight: 100;
        /* color: white; */
        /* align-items: center; */
        /* justify-content: center; */
    
    }    
    #logofont{
        font-size: 6px;
    }