header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100; 
  }
  
 



#navbarstart img {
    width: 200px;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #navbarstart {
    margin-top: auto;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
  }
  
  
  input {
    width: 100%;
    height: 28px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
  }
  
  #navbarstart > div:nth-of-type(1) {
    display: flex;
    border: none;
    border-radius: 4px;
    width: 70%;
    height: 20px;
  }
  #navbarstart div {
    display: block;
  }
  
  #navbarSearchBtn {
    width: 40px;
    height: 32px;
    background-color: #1a4e8a;
    border: none;
    margin-left: 0px;
    border-top-right-radius: 4px;
    border-end-end-radius: 4px;
  }
  
  
  p {
    margin-top: 0px;
    font-size: 14px;
  }
  #navbarstart > #menu{
    display: none;
  }
  #navbarstart > div + div{
    height: 20px;
    font-size: 14px;
    margin-right: 1%;
  }
  
  .iconsvg {
    border: 1px solid;
    margin-top: 17px;
  
    margin-left: 5px;
  }
  
  #navbaritems > ul {
    display: flex;
    justify-content: space-around;
  }
  
  #navbaritems {
    border-bottom: 1px solid #dadcdf;
    border-top: 1px solid #dadcdf;
    height: 45px;
    align-items: center;
  }
  
  #navbaritems a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    /* position: absolute; */
  }
  
  li a:hover {
    border-bottom: 1px solid black;
  }
  
  a {
    text-decoration: none;
    justify-content: space-between;
  }
  
  nav {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  
  li a {
    color: black;
  }
  
  li:hover,
  #navbarstart #menu,
  #navbarstart #navbarSearchBtn,
  #navbarstart .icons {
    cursor: pointer;
  }
  
  ul li ul {
    background-color: #f9fafb;
    visibility: hidden;
    opacity: 1;
    min-width: 15rem;
    position: absolute;
    transition: all 60s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  #navbarstart #menu ul {
    background-color: #f9fafb;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 60s ease;
    /* margin-top: 0.2rem; */
    right: 0;
    display: none;
  }
  #navbarstart #menu:hover > ul,
  #navbarstart #menu ul:hover{
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #2f3337; */
  }
  #navbarstart #menu ul li:hover {
    cursor: pointer;
  }
  
  


  /* footer */

  *{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

#footer-up{
    display: flex;
    background-color: #545658;
    justify-content: space-between;
    padding: 4% 7%;
}
#legal{
    display: flex;
    justify-content: space-between;
    background-color: #2f3337;
    align-items: center;
    padding: 2% 7%;
}
footer{
    color: white;
    font-size: 12px;
}
footer a{
    text-decoration: none;
    color: white;

}
#footer-up>div{
    display: flex;
    flex-direction: column;
}
#footer-up a, #footer-up>div>div{
    
    margin: 6% 0;
    width: fit-content;
}
#footer-up>div>div{
    font-weight: 700;
}
#legal-right>a{
    margin-left: 20px;
}
#legal-left>p{
    margin: 0;
}
#footerLink {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  align-items: center;
  gap: 5px;
  padding: 3%;
  background-color: #f5f6f7;
  margin-top: 30px;
}
#footerLink > div > img {
  width: 50%;
}
#footerLink div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
#footerLink div:nth-child(2) span:nth-child(2){
  font-size: medium;
  color: grey;
  text-align: center;
}
#footerLink div:nth-child(2) span:nth-child(3){
  font-size: small;
  color: grey;
  text-align: center;
}
#footerLink div:nth-child(2) span:nth-child(3) a{
  font-size: smaller;
  color: black;
  text-align: center;
  text-decoration: underline;
}
#footerLink div:nth-child(2) span:first-child {
  margin: 4%;
  font-size: large;
  color: black;
  text-align: center;
}
#footerLink div:nth-child(3) {
  display: flex;
  gap: 5px;
  margin-left: 5%;
  align-items: center;
}

#footerLink input {
  background-color: white;
  padding: 10px;
  /* height: 100%; */
  /* width: 60%; */
  /* max-height: max-content; */
}
#footerLink button {
  background-color: #137be4;
  color: white;
  padding: 17px;
  border: none;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  height: 100%;
  font-size: medium;
}
#footerLink button:hover{
  background-color: #1b61a7;
}











/* -------------------------------------------------------------------- */






body {
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    background-color: rgb(42, 73, 160);
    justify-content: center;
    align-items: center;
}

.head img {
    width: 4rem;
    height: 2em;

}

.firstcontainer {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
}

.firstcontainer>div p {
    font-size: 20px;

}

.firstcontainer #salarysort {

    padding: 8px 13px;
    border-radius: 2px;
}

.firstcontainer div #salarysort {
    margin-top: 4.9rem;

}

.secondcontainer {
    display: flex;

    margin-top: 40px;
    justify-content: space-around;
}



#productsidebar {
    margin-left: 1.4rem;
    width: 17%;

    height: fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;

}




@media only screen and (max-width: 767px) {

    #productsidebar h5 {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}

.dropdown-content {
    display: none;
}

.show {
    display: block;
}

hr {
    color: gray;
    margin: 0;
    border: 1px solid gray;

}

#productsidebar form label {
    font-size: 16px;
    color: #4b4b4f;


    Font-weight: 400;
    Line-height: 21px;
    color: rgb(64, 117, 169);

}

#productsidebar form input {
    margin: 4px;
    scale: 1;
    width: 18px;
    height: 18px;
    margin-left: 1.7rem;
    margin-right: 1rem;
}

#productsidebar h5 {
    opacity: 0.7;
    font-size: 15px;
}

hr {

    opacity: 0.25;
}


#filterColor form input[type="radio"] {
    appearance: none;

}

#filterColor form input[type="radio"]::before {
    content: "✔";
    padding: 0rem 0.1rem;
    /* color: rgb(112, 12, 12); */
    color: transparent;
    /* transform: scale(0); */
}

#filterColor form input[type="radio"]::before {
    /* background-color: rgb(205, 7, 7); */
    transform: scale(1);
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);


}

.head>h3 {
    color: white;
    font-size: 1.17em;
    font-size: 30px;
    margin: 5px 3px;
}



#product-page-item-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    width: 70%;
    margin-right: 2rem;
    overflow-y: auto;
    height: fit-content;
}

@media only screen and (max-width: 767px) {

    #product-page-item-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        width: 70%;
        margin-right: 1rem;
        overflow-y: auto;
        height: fit-content;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    #product-page-item-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.4em;
        width: 70%;
        margin-right: 1.5rem;
        overflow-y: auto;
        height: fit-content;
    }
}



#product-page-item-div>div {

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#product-page-item-div div>img {
    width: 100%;
}

#product-page-item-div div>h3 {
    padding-left: 10px;
}

#product-page-item-div div>p {
    padding-left: 10px;
}

#product-page-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto 48px;
    height: 7rem;
}

#product-page-list button {
    font-size: 1.3rem;
    border-radius: 2.3rem;
    border: hidden;
    background-color: white;
    margin: 0 0.4rem;

}

#product-page-list button:hover {
    background-color: rgb(47, 51, 55);
    font-size: 1.3rem;
    border-radius: 4rem;
    padding: 0.5rem;
}

.arrow {

    padding: 0.3rem 0.6rem;
    border: 1px solid gray;
}

.belowdrop {
    display: inline-block;
    border: hidden;
    background-color: white;
}

h5>img {
    width: 20px;

}

h5 {
    padding: 0px 1.5rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    height: 4rem;
    text-align: center;
    display: flex;
    height: 3rem;
}

.endproduct {
    display: flex;
    justify-content: space-around;
}

.dropdiv {
    display: flex;
    border: 1px solid blue;
    width: 30%;
}


.dropdiv>div img {
    width: 200px;
    height: 100%;
}

.dropdiv p {
    font-size: 20px;
}

.Reviews {
    display: flex;
    justify-content: center;
    margin-bottom: 4.5rem;

}

.Reviewbox {
    width: 20%;
    display: flex;
}

.Reviewbox>div {
    margin-right: 1rem;
    width: fit-content;
}

.Reviewbox>div>img {
    border: 6px solid #dbdcdf;
    border-radius: 4.1rem 4rem;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

#ship {
    border-bottom: 1px solid #dadcdf;
    margin: 1px;
}

#ship {
    /* margin: 0px; */
    display: flex;
    gap: 7px;
    padding: 5px;
    background-color: #f9fafb;
    align-items: top;
    height: 30px;
}

#ship img {
    width: 28px;
    height: 22px;
    border-radius: 10px;
    margin-top: 3px;
}

#ship p:nth-of-type(1) {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 10px;
    color: #bfc1c5;
}

#ship p {
    margin-top: 4px;
}


li a:hover {
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    justify-content: space-between;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: black;
}

li:hover {
    cursor: pointer;
}

ul li ul {
    background-color: #f9fafb;
    visibility: hidden;
    opacity: 1;
    min-width: 15rem;
    position: absolute;
    transition: all 60s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

.dropdown li {
    padding: 10px;
}

#divCheckout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8%;
    height: 35px;
    color: white;
    background-color: black;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
}

.fa {
    color: white;
    font-size: 20px;
}

#divCheckout img {
    width: 23px;
}

#cartCount {
    width: 12px;
    margin-top: 12px;
    padding-left: 12px;
    text-align: center;
    position: absolute;
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #c7202c;
}

.UserDropDowns_icon_08 {
    margin-left: 20px;
}

@media screen and (max-width: 970px) {
    #navbaritems {
        display: none;
    }

    #navbarstart>a {
        width: 100%;
    }
}
