body{
    /* background-color: aqua; */
}

.nav {
    display: flex;
justify-content: space-between;

font-family: Verdana, Geneva, Tahoma, sans-serif;
align-items: center;
width:60%;
margin: 2% auto auto auto;
}
.nav>img{
    width: 8rem;
    height: 2.5rem;
}

.nav>div{
    display: flex;
    align-items: center;
}
.nav>div>img{
    width: 2.5rem;
    height: 2rem;
   
}


#details{
    width: 60%;
    margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  gap: 1rem;
  justify-content: flex-end;
}
/* .form{
    width: 65%;
} */

#formsubmit{
width: 60%;
margin:0.8rem auto auto auto;
/* border: 2px solid red; */
}

/* #firstname{
    width: fit-content;
   
} */

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    /* background-color: yellow; */
  }
  

  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative; /* Add relative positioning */
    background: transparent; /* Make the input background transparent */
  }
  
  .form-control:focus {
     border-color:red; /*Change border color when the input is focused */
  }
  
  label {
    position: absolute;
    bottom: 10px; /* Adjust the label's vertical position */
    left: 10px;
    pointer-events: none;
    transition: 0.2s ease all;
  }
  
  .form-control:focus + label,
  .form-control:valid + label {
    bottom: 34px; /* Move label to the border line when focused or has content */
    font-size: 16px;
    /* color: #007bff; */
    border:none;
  }

  #formsubmit{
    width: 100%;
  }
  #formsubmit>div:nth-child(1){
    
    display: flex;
    
  }
  

  .form-group1 {
    position: relative;
    margin-bottom: 20px;
    margin-top: 1rem;
  }


  #firstname{
    margin-left: 2%;
    width: 85%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: relative; /* Add relative positioning */
      background: transparent; /* Make the input background transparent */
  
    }

  #firstname1{
  /* padding-left: 97%; */
  width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative; /* Add relative positioning */
    background: transparent; /* Make the input background transparent */

  }

  #formsubmit>div:nth-child(2){
  
    display: flex;
    /* justify-content: space-around; */
  }

  #formsubmit>div:nth-child(3){
  
    display: flex;
    justify-content: space-around;
  }

  #formsubmit>div:nth-child(4){
   
    display: flex;
    justify-content: space-around;
  }
  #formsubmit>div:nth-child(5){
   
    display: flex;
    justify-content: space-around;
  }
  #formsubmit>div:nth-child(6){
   
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
  }
  
  .checkbox{
    /* align-items: flex-start; */
    justify-content: flex-start;
    /* border-top: 1px solid #dadcdf; */
    color: #626669;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    justify-content: flex-start;
    line-height: 21px;
    margin: 16px auto auto;
    padding: 16px 0 0;
    position: relative;
    width: 65%;

  }

  #img{
    justify-content: flex-start;
    
    display: flex;
  }

  #plogo{
    width: 100%; display: flex; margin-bottom: 1rem; border: 1px solid rgb(211, 196, 196); justify-content: space-around; padding:  0.9rem 0;
    border-radius: 5px;
    cursor: pointer;
  }

  

  #plogo>button:nth-child(1){
    width: 40%; height: 3rem; background-color: rgb(255,196,57);
    cursor: pointer;
    border: hidden;
    border-radius: 5px;
  }

  #plogo>button:nth-child(2){
    width: 40%; height: 3rem; 
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
  }

  #submit{
    display: flex; justify-content: space-between; gap: .8rem;
  }
  #submit>div:nth-child(1){
    width: 50%;
  }
  #submit>div:nth-child(1) button{
    background-color: blue; color: white; border: hidden; padding:0.5rem 1rem; width: 100%;
  }


  #submit>div:nth-child(2) div{
    display: flex;
  }

  .paynow{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
  }

  #first1{
    border: 1px solid gainsboro;
    padding: 1rem;
    
  }
  #first1>div:nth-child(2){
    display: flex;
    gap: 10px;
    border-radius: 5px;
  }
  #first1>div:nth-child(2) button{
    padding: 1rem;
    border-radius: 5px;
  }